<div id="nav-login" *ngIf="this.router.url == '/login' || this.router.url == '/register'" >
    <div id="nav-element-login" class="bg-p" (click)="togglelogin()">
        <div id="regbut" class="">Registro</div>
        <div id="logbut" class="">Login</div>
    </div>
</div>
<div id="nav" *ngIf="this.router.url != '/login' && this.router.url != '/register' && this.router.url != '/verify' && this.router.url != '/' && this.router.url != '/game'">
    <div class="btn but bg-p skew" id="perfil">
        <img src="{{resURL}}/Resources/img/users/{{user.pfp}}" alt="">
        <p class="str">{{user.username}}</p>
    </div>
    <div class="btn but bg-p skew" id="friends" (click)="friendtoggle()">
        <div id="cantnotifcount" *ngIf="friendsloaded && msgsload && (requests.length > 0 || unreadedmsgs.length > 0)" class="reqpending str">{{requests.length + unreadedmsgs.length}}</div>
        <i class="bi bi-person-lines-fill"></i>
        <p class="str">Amigos</p>
    </div>
    <div class="btn but bg-p skew" id="back" (click)="back()" *ngIf="router.url != '/home'">
        <i class="bi bi-caret-left-fill"></i>
        <p class="str">Volver</p>
    </div>
    <div class="btn but bg-p skew" id="menu" (click)="toggle()">
        <i class="bi bi-list"></i>
    </div>
    <div class="btn skew" id="currency">
        <img src="{{resURL}}/Resources/img/misc/gema.png" alt="gems">
        <p class="str" id="currency_txt">{{user.currency}}</p>
    </div>
</div>
<div id="menuHamb" class="btn skew" *ngIf="this.router.url != '/login' && this.router.url != '/register' && this.router.url != '/verify' && this.router.url != '/' && this.router.url != '/game'">
    <h1 class="str">Menú</h1>
    <div class="btn but str conf">Configuración</div>
    <div class="btn but str conf">Partidas recientes</div>
    <div class="btn but str conf">Contactanos</div>
    <div class="btn but str conf" (click)="codeinput()">Codigos</div>
    <div class="btn but str logout" (click)="logout()">Cerrar sesión</div>
    <div class="btn but str logout" id="close" (click)="toggle()">X</div>
</div>
<div id="friendlist" class="btn skew" *ngIf="this.router.url != '/login' && this.router.url != '/register' && this.router.url != '/verify' && this.router.url != '/' && this.router.url != '/game' && friendsloaded">
    <div class="btn but str logout" id="close" (click)="friendtoggle()">X</div>
    <div class="btns">
        <div class="btn but str {{friendsect == 'a' ? 'bg-s' : 'bg-p'}}" (click)="setfsect('a')">Amigos</div>
        <div class="btn but str {{friendsect == 'p' ? 'bg-s' : 'bg-p'}}" (click)="setfsect('p')">
            <div *ngIf="requests.length > 0" class="reqpending str">{{requests.length}}</div>
            Solicitudes</div>
        <div class="btn but str" style="background-color: #198754;" (click)="sendreq()">Añadir amigo</div>
    </div>
    <div class="fcont bg-t btn skew" *ngIf="friendsect == 'a'">
        <div class="str" *ngIf="friends.length == 0">No tienes amigos aún, prueba a mandar una solicitud</div>
        <div *ngFor="let friend of friends" class="friend btn bg-p">
            <img src="{{resURL}}/Resources/img/users/{{friend.amigo.pfp}}">
            <h4 class="str">{{friend.amigo.username}}</h4>
            <div class="logged {{friend.amigo.currently_logged ? 'is' : 'isnot'}}"></div>
            <div class="social">
                <div class="bg-s btn but" (click)="gotoChat(friend)">
                    <div id="cantnotifcount" *ngIf="msgsload && unreadedmsgs.length > 0" class="reqpending str">{{getCantNotif(friend.amigo.id)}}</div>
                    <i class="bi bi-chat"></i>
                </div>
                <div class="deletefriend btn but" (click)="deletefriend(friend)"><i class="bi bi-trash"></i></div>
            </div>
        </div>
    </div>
    <div class="fcont bg-t btn skew" *ngIf="friendsect == 'p'">
        <div class="str" *ngIf="requests.length == 0">No tienes solicitudes de amistad pendientes</div>
        <div class="friend btn bg-p" *ngFor="let friend of requests">
            <img src="{{resURL}}/Resources/img/users/{{friend.amigo.pfp}}">
            <h4>{{friend.amigo.username}}</h4>
            <div class="social">
                <div class="btn but" style="background-color: #198754;" (click)="acceptreq(friend)"><i class="bi bi-check"></i></div>
                <div class="deletefriend btn but" (click)="declinereq(friend)"><i class="bi bi-x"></i></div>
            </div>
        </div>
    </div>
</div>
<div id="notifications"></div>
<div id="shadow" (click)="closeAll()" *ngIf="this.router.url != '/login' && this.router.url != '/register' && this.router.url != '/verify' && this.router.url != '/game'">

</div>