<div id="nav-login" *ngIf="this.router.url == '/login' || this.router.url == '/register'" >
    <div id="nav-element-login" class="bg-p" (click)="togglelogin()">
        <div id="regbut" class="">Registro</div>
        <div id="logbut" class="">Login</div>
    </div>
</div>
<div id="nav" *ngIf="this.router.url != '/login' && this.router.url != '/register' && this.router.url != '/verify' && this.router.url != '/'">
    <div class="btn but bg-p" id="perfil">
        <img src="{{resURL}}/Resources/img/users/{{user.pfp}}" alt="">
        <p class="str">{{user.username}}</p>
    </div>
    <div class="btn but bg-p" id="friends">
        <i class="bi bi-person-lines-fill"></i>
        <p class="str">Amigos</p>
    </div>
    <div class="btn but bg-p" id="back" (click)="back()">
        <i class="bi bi-caret-left-fill"></i>
        <p class="str">Volver</p>
    </div>
    <div class="btn but bg-p" id="menu" (click)="toggle()">
        <i class="bi bi-list"></i>
    </div>
    <div class="btn" id="currency">
        <img src="{{resURL}}/Resources/img/misc/gema.png" alt="gems">
        <p class="str" id="currency_txt">{{user.currency}}</p>
    </div>
</div>
<div id="menuHamb" class="btn" *ngIf="this.router.url != '/login' && this.router.url != '/register' && this.router.url != '/verify' && this.router.url != '/'">
    <h1 class="str">Menú</h1>
    <div class="btn but str conf">Configuración</div>
    <div class="btn but str conf">Partidas recientes</div>
    <div class="btn but str conf">Contactanos</div>
    <div class="btn but str conf">Codigos</div>
    <div class="btn but str logout" (click)="logout()">Cerrar sesión</div>
    <div class="btn but str logout" id="close" (click)="toggle()">X</div>
</div>
<div id="shadow" (click)="toggle()" *ngIf="this.router.url != '/login' && this.router.url != '/register' && this.router.url != '/verify'">

</div>