<div id="nav-login" *ngIf="this.router.url == '/login' || this.router.url == '/register'" >
    <div id="nav-element-login" class="bg-p" (click)="togglelogin()">
        <div id="regbut" class="">Registro</div>
        <div id="logbut" class="">Login</div>
    </div>
</div>
<div id="nav" *ngIf="this.router.url != '/login' && this.router.url != '/register' && this.router.url != '/verify'">
    <div class="btn but bg-p" id="perfil">
        <img src="http://localhost/Resources/img/users/{{user.pfp}}" alt="">
        <p class="str">{{user.username}}</p>
    </div>
    <div class="btn but bg-p" id="friends">
        <i class="bi bi-person-lines-fill"></i>
        <p class="str">Amigos</p>
    </div>
    <div class="btn but bg-p" id="menu">
        <i class="bi bi-list"></i>
    </div>
    <div class="btn" id="currency">
        <img src="http://localhost/Resources/img/misc/gema.png" alt="gems">
        <p class="str">{{user.currency}}</p>
    </div>
</div>