<div id="player1" class="player btn skew str {{isYou(gameStatus.player1) ? 'you' : ''}}" *ngIf="loaded">
    <div>
        <img src="{{resURL}}/Resources/img/users/{{gameStatus.player1.usuario.pfp}}">
        <h3>{{gameStatus.player1.usuario.username}}</h3>
    </div>
    <div>
        <p>{{gameStatus.player1.vida}}/40</p>
    </div>
</div>

<div id="player2" class="player btn skew str {{isYou(gameStatus.player2) ? 'you' : ''}}" *ngIf="loaded">
    <div>
        <img src="{{resURL}}/Resources/img/users/{{gameStatus.player2.usuario.pfp}}">
        <h3>{{gameStatus.player2.usuario.username}}</h3>
    </div>
    <div>
        <p>{{gameStatus.player2.vida}}/40</p>
    </div>
</div>

<div id="oponentcards" class="cardcont" *ngIf="loaded">
    <div *ngFor="let card of oponentcards">
        <img src="{{resURL}}/Resources/img/misc/Comun_back.png" alt="carta_oponente">
    </div>
</div>

<div id="mycards" class="cardcont" *ngIf="loaded">
    <div *ngFor="let card of cards">
        <img src="{{resURL}}/Resources/img/cards/{{card.imagen}}" alt="carta_oponente">
    </div>
</div>