<img src="{{resURL}}/Resources/img/misc/fondo.jpg" alt="fondo" id="bg">
<div id="player1" class="player btn skew str {{isYou(gameStatus.player1) ? 'you yourself' : 'enemy oponent_a'}}" *ngIf="loaded">
    <div>
        <img src="{{resURL}}/Resources/img/users/{{gameStatus.player1.usuario.pfp}}">
        <h3>{{gameStatus.player1.usuario.username}}</h3>
    </div>
    <div>
        <img class="hpimg" src="{{resURL}}/Resources/img/misc/hp.png" alt="vida">
        <p class="hp">{{gameStatus.player1.vida}}</p>
    </div>
</div>

<div id="player2" class="player btn skew str {{isYou(gameStatus.player2) ? 'you yourself' : 'enemy oponent_a'}}" *ngIf="loaded">
    <div>
        <img src="{{resURL}}/Resources/img/users/{{gameStatus.player2.usuario.pfp}}">
        <h3>{{gameStatus.player2.usuario.username}}</h3>
    </div>
    <div>
        <img class="hpimg" src="{{resURL}}/Resources/img/misc/hp.png" alt="vida">
        <p class="hp">{{gameStatus.player2.vida}}</p>
    </div>
</div>

<div id="oponentcards" class="cardcont glass" *ngIf="loaded">
    <div *ngFor="let card of oponentcards">
        <img src="{{resURL}}/Resources/img/misc/Comun_back.png" alt="carta_oponente">
    </div>
</div>

<div id="mycards" class="cardcont glass" *ngIf="loaded">
<div *ngIf="loaded" id="mana" class="str">{{isYou(gameStatus.player1) ? gameStatus.player1.mana : gameStatus.player2.mana }}</div>
    <div *ngFor="let card of cards" class="{{card.tipo}} {{yourturn ? '' : 'disabled' }}"  id="{{card.id}}">
        <img src="{{resURL}}/Resources/img/cards/{{card.imagen}}" alt="carta_oponente">
        <p class="mana str">{{card.mana}}</p>
    </div>
</div>
<div id="map" *ngIf="loaded">
    <div class="line" *ngFor="let line of [0,1,2,3,4]; let i = index" [id]="'l' + (i+1)">
        <div [id]="'l' + (!isYou(gameStatus.player1) ? '1' : '2') + '_' + (i+1)" class="enemy_able">
          <div class="troop oponent oponent_a" *ngIf="oponentlines[i] != null" (click)="showstatus(oponentlines[i], $event)">
            <img [src]="resURL + '/Resources/img/cards/' + (isYou(gameStatus.player2) ? gameStatus['l1_' + (i+1)].carta.imagen : gameStatus['l2_' + (i+1)].carta.imagen)" alt="">
            <div class="dmg str">
              {{ isYou(gameStatus.player2) ? gameStatus['l1_' + (i+1)].carta.habilidadDTO.dmg : gameStatus['l2_' + (i+1)].carta.habilidadDTO.dmg }}
              <img [src]="resURL + '/Resources/img/misc/dmg.png'" alt="atk">
            </div>
            <div class="vida str">
              {{ isYou(gameStatus.player2) ? gameStatus['l1_' + (i+1)].vida : gameStatus['l2_' + (i+1)].vida }}
              <img [src]="resURL + '/Resources/img/misc/hp.png'" alt="vida">
            </div>
          </div>
        </div>
      
        <div [id]="'l' + (isYou(gameStatus.player1) ? '1' : '2') + '_' + (i+1)" [class.your]="true" [class.able]="yourlines[i] == null">
          <div *ngIf="yourlines[i] != null" class="troop yourself"
               [id]="isYou(gameStatus.player1) ? gameStatus['l1_' + (i+1)].carta.id : gameStatus['l2_' + (i+1)].carta.id" (click)="showstatus(yourlines[i], $event)">
            <img [src]="resURL + '/Resources/img/cards/' + (isYou(gameStatus.player1) ? gameStatus['l1_' + (i+1)].carta.imagen : gameStatus['l2_' + (i+1)].carta.imagen)" alt="">
            <div class="dmg str">
              {{ isYou(gameStatus.player1) ? gameStatus['l1_' + (i+1)].carta.habilidadDTO.dmg : gameStatus['l2_' + (i+1)].carta.habilidadDTO.dmg }}
              <img [src]="resURL + '/Resources/img/misc/dmg.png'" alt="atk">
            </div>
            <div class="vida str">
              {{ isYou(gameStatus.player1) ? gameStatus['l1_' + (i+1)].vida : gameStatus['l2_' + (i+1)].vida }}
              <img [src]="resURL + '/Resources/img/misc/hp.png'" alt="vida">
            </div>
          </div>
        </div>
      </div>
</div>
<div *ngIf="yourturn && loaded" id="switch" class="btn but str glass-g" (click)="switchTurn()">Acabar turno</div>
<div class="victory-cont" id="v">
    <h1 id="victory" class="str btn bg-t">¡Victoria!</h1>
</div>