<div id="player1" class="player btn skew str {{isYou(gameStatus.player1) ? 'you' : ''}}" *ngIf="loaded">
    <div>
        <img src="{{resURL}}/Resources/img/users/{{gameStatus.player1.usuario.pfp}}">
        <h3>{{gameStatus.player1.usuario.username}}</h3>
    </div>
    <div>
        <p>{{gameStatus.player1.vida}}/40</p>
    </div>
</div>

<div id="player2" class="player btn skew str {{isYou(gameStatus.player2) ? 'you' : ''}}" *ngIf="loaded">
    <div>
        <img src="{{resURL}}/Resources/img/users/{{gameStatus.player2.usuario.pfp}}">
        <h3>{{gameStatus.player2.usuario.username}}</h3>
    </div>
    <div>
        <p>{{gameStatus.player2.vida}}/40</p>
    </div>
</div>

<div id="oponentcards" class="cardcont" *ngIf="loaded">
    <div *ngFor="let card of oponentcards">
        <img src="{{resURL}}/Resources/img/misc/Comun_back.png" alt="carta_oponente">
    </div>
</div>

<div id="mycards" class="cardcont" *ngIf="loaded">
    <div class="card" *ngFor="let card of cards">
        <img src="{{resURL}}/Resources/img/cards/{{card.imagen}}" alt="carta_oponente">
    </div>
</div>
<div id="map" *ngIf="loaded">
    <div class="line" id="l1">
        <div>
            <div class="troop" *ngIf="oponentlines[0] != null">
                
            </div>
        </div>
        <div class="{{yourlines[0] == null ? 'able' : ''}}">
            <div class="troop" *ngIf="yourlines[0] != null">

            </div>
        </div>
    </div>
    <div class="line" id="l2">
        <div>
            <div class="troop" *ngIf="oponentlines[1] != null">
                
            </div>
        </div>
        <div class="{{yourlines[1] == null ? 'able' : ''}}">
            <div class="troop" *ngIf="yourlines[1] != null">

            </div>
        </div>
    </div>
    <div class="line" id="l3">
        <div>
            <div class="troop" *ngIf="oponentlines[2] != null">
                
            </div>
        </div>
        <div class="{{yourlines[2] == null ? 'able' : ''}}">
            <div class="troop" *ngIf="yourlines[2] != null">

            </div>
        </div>
    </div>
    <div class="line" id="l4">
        <div>
            <div class="troop" *ngIf="oponentlines[3] != null">
                
            </div>
        </div>
        <div class="{{yourlines[3] == null ? 'able' : ''}}">
            <div class="troop" *ngIf="yourlines[3] != null">

            </div>
        </div>
    </div>
    <div class="line" id="l5">
        <div>
            <div class="troop" *ngIf="oponentlines[4] != null">
                
            </div>
        </div>
        <div class="{{yourlines[4] == null ? 'able' : ''}}">
            <div class="troop" *ngIf="yourlines[4] != null">

            </div>
        </div>
    </div>

</div>