<div class="container">
    <img src="http://localhost/resources/img/foto-login.png" alt="">
    <div class="login-container">
        <h2>Iniciar Sesión</h2>
        <p>Hola, ¡es tiempo de cocinar!</p>
        <form [formGroup]="form" id="form" (submit)="login(); $event.preventDefault()" method=post>
            <div class="input-group">
                <label for="email">Email:</label>
                <input type="text" name="email" placeholder="Email" id="email" formControlName="email" required>
                <span class="icon"><i class="fas fa-user"></i></span>
                <p *ngIf="errors('email') && touched('email')">El campo no puede estar vacío</p>
            </div>
            <div class="input-group">
                <label for="passwd">Contraseña:</label>
                <input type="password" name="passwd" placeholder="Contraseña" id="passwd" formControlName="passwd">
                <span class="icon"><i class="fas fa-lock"></i></span>
                <p *ngIf="errors('passwd') && touched('passwd')">El campo no puede estar vacío</p>
            </div>
            <button type="submit">Iniciar sesión</button>
        </form>
    </div>
</div>

