<div class="container">
    <div class="login-container">
        <h2 class="tit">Iniciar Sesión</h2>
        <form [formGroup]="form" id="form" (submit)="login(); $event.preventDefault()" method=post>
            <div class="input-group">
                <input type="text" name="email" placeholder="Email" id="email" formControlName="email" required>
                <i class="bi bi-envelope-at-fill"></i>
            </div>
            <div class="input-group">
                <input type="password" name="password" placeholder="Contraseña" id="password" formControlName="password"> 
                <i class="bi bi-lock-fill"></i>  
            </div>
            
            <input type="submit" class="but bg-s str" value="Iniciar sesión"/>
            
        </form>
        <div style="align-self: center; padding: 5px; margin-top: 10px;" class="but bg-s">
            <input type="checkbox" value="savesession" id="savesession" style="accent-color: rgba(0,0,0,0);">
            <label for="savesession" class="str" style="font-size: 15px; cursor: pointer;">Recordar</label>
        </div>
        <div id="errors">
            <div *ngIf="errors('email') && touched('email')">
                <i class="bi bi-exclamation-circle"></i>
                <p>El email no puede estar vacio</p>
            </div>
            <div *ngIf="errors('password') && touched('password')">
                <i class="bi bi-exclamation-circle"></i>
                <p>La contraseña no puede estar vacia</p>
            </div>
            
        </div>
    </div>
</div>

