<div id="cont">
    <div id="crudcard" class="btn but skew str bg-s" (click)="goto('crud/cards')">
        <i class="bi bi-gear-fill"></i>
        <h2>Gestionar cartas</h2>
    </div>
    <div id="crudhab" class="btn but skew str bg-s" (click)="goto('crud/habilidades')">
        <i class="bi bi-gear-fill"></i>
        <h2>Gestionar habilidades</h2>
    </div>
    <div id="tienda" class="btn but skew str bg-s" (click)="changeTienda()">
        <i class="bi bi-arrow-clockwise"></i>
        <h2>Cambiar tienda</h2>
    </div>
</div>