#home{
    position: fixed;
    display: flex;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: calc(1vw);
    &:hover div:not(:hover){
        scale: .9;
    }
    &>div{
        backdrop-filter: blur(5px);
        margin: 0;
        width: calc(100px + 10vw);
        height: calc(300px + 20vh);
        &>*{
            margin:0 ;
        }
        &>h1{
            font-size: 50px;
        }
    }
}
#shop{
    color: #173d2e;
    background-color: #80EF80BB;
    backdrop-filter: blur(5px);
}
#play_mp{
    color: #a46b04;
    background-color: #FFFAA0BB;
}
#play_solo{
    color: #183a62;
    background-color: #80CEE1BB;
}
#collection{
    color: #a20f49;
    background-color: #ffa2b9BB;
}
#pago{
    width: 50vw;
    position: fixed;
    bottom: 7vh;
    left: 50%;
    height: calc(100px + 1vh);
    transform: translateX(-50%);
    &>div{
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 40px;
    }
}
.no{
    background-color: #808080;
    color: #000;
}
.si{
    background-color: #FF964FBB;
    color: #9d2c0f;
}
#admin{
    background-color: #BFBFBF;
    color: #808080;
}