<div *ngIf="usuario" id="home">
    <div id="shop" class="btn but skew" (click)="goto('tienda')">
        <i></i>
        <h1 class="str" >Tienda</h1>
    </div>
    <div id="play_mp" class="btn but skew" (click)="play($event)">
        <i></i>
        <h1 class="str">Jugar</h1>
        <h2 class="str">Online</h2>
    </div>
    <div id="play_solo" class="btn but skew" (click)="goto('trade')">
        <i></i>
        <h1 class="str">Intercambios</h1>
    </div>
    <div id="collection" class="btn but skew" (click)="goto('coleccion')">
        <i></i>
        <h1 class="str">Colección</h1>
    </div>
    <div *ngIf="usuario.rol[0].nombre == 'ADMIN'" id="admin" class="btn but skew" (click)="goto('admin')">
        <i></i>
        <h1 class="str">Admin</h1>
    </div>
</div>
<div id="pago">
    <div *ngIf="!can_pay" class="btn str no skew">Siguiente pago en: {{time_left_h}}h {{time_left_m}}m {{time_left_s}}s</div>
    <div *ngIf="can_pay" class="btn but str si skew" (click)="get_paid()">Puede recibir su pago</div>    
</div>