<div class="shopmenu" id="sh1" >
    <div class="btn but {{isselected('cards')}}" (click)="toggle('cards')">
        <div class="bi bi-cards_deckup"></div>
        <h1>Cartas</h1>
    </div>
    <div class="btn but {{isselected('packs')}}" (click)="toggle('packs')">
        <i class="bi bi-pack_deckup" style="background-color: #fff;"></i>
        <h1>Packs</h1>
    </div>
</div>
<div class="shopmenu" id="sh2">
    
    <div class="btn but {{isselected('offers')}}" (click)="toggle('offers')">
        <i class="bi bi-tags-fill"></i>
        <h1>Ofertas</h1>
    </div>
    <div class="btn but {{isselected('gems')}}" (click)="toggle('gems')">
        <i class="bi bi-gem"></i>
        <h1>Gemas</h1>
    </div>
</div>
<div id="cardcont" class="cont btn" *ngIf="selecteed == 'cards'">
    <div *ngFor="let card of cards" class="card_deckup {{card.rarezaDTO.nombre}} {{user.currency>=card.precio ? 'but' : 'naff_card'}}" (click)="user.currency>=card.precio ? buy(card) : ''">
        <h3 class="str">{{card.nombre}}</h3>
        <div class="imgcont">
            <img src="{{resURL}}/Resources/img/cards/{{card.imagen}}" alt="{{card.imagen}}">
        </div>
        <p class="str">{{card.descripcion}}</p>
        <div class="precio str btn {{user.currency>=card.precio ? 'aff' : 'naff'}}">
            <img src="{{resURL}}/Resources/img/misc/gema.png" alt="gema">
            <p>{{card.precio}}</p>
        </div>
    </div>
</div>
<div id="packcont" *ngIf="selecteed == 'packs'">

</div>
<div id="offercont" *ngIf="selecteed == 'offers'">

</div>
<div id="gemcont" *ngIf="selecteed == 'gems'">

</div>