#cardcont, #packcont, #offercont, #gemcont{
    background-color: #13253e;
    padding: calc(20px + 1dvw);
    position: fixed;
    right: 12.5vw;
    display: flex;
    flex-wrap: wrap-reverse;
    width: 60%;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: calc(20px + 3vw);
    top: 50%;
    transform: translateY(-50%) skew(-7deg, 0deg);
    &>*{
        transform: skew(7deg,0deg);
        filter: drop-shadow(0px 0px 15px rgba(0,0,0,.5));
    }
}
#gemcont{
    flex-direction: column;
    flex-wrap: wrap;

}
.pack{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7px;
    width: calc(150px + 6vw);
    height: calc(270px + 10vh);
    border-radius: 7px;
    text-align: center;
    &>img{
        height: 80%;
        width: auto;
        overflow: hidden;
        background-color: #198754;
        border-radius: 7px;
    }
    &>*{
        margin: 0;
    }
}
.card_deckup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
    max-width: 220px;
    max-height: 330px;
    width: calc(30dvw - 10px);
    height: calc(45dvw - 20px);
    border-radius: 7px;
    border: #000 2px solid;
    text-align: center;
    &>img{
        width: 100%;
        height: 100%;
    }
    &>*{
        margin: 0;
    }
}
.precio{
    position: absolute;
    bottom: calc(-10px + -1dvw);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 20px;
    &>img{
        height: 140%;
    }
}
.aff{
    background-color: #198754;
}
.naff{
    background-color: #6C757D;
}
.naff_card{
    cursor: not-allowed;
}
.shopmenu{
    position: fixed;
    left: 3dvw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    &>div{
        width: calc(100px + 3dvw);
        height: calc(100px + 3dvw);
        &>i{
            font-size: 30px;
        }
    }
}
#sh1{
    top: 35.5%;
    transform: translateY(-50%) skew(7deg, 0deg);
    &>*>*{
        transform: skew(-7deg, 0deg);
    }
}
#sh2{
    top: 75%;
    transform: translateY(-50%) skew(-7deg, 0deg);
    &>*>*{
        transform: skew(7deg, 0deg);
    }
}
.selected{
    scale: 1.1;
    z-index: 1;
    cursor: default;
}