<div class="shopmenu" id="sh1" >
    <div class="btn but {{isselected('cards')}}" (click)="toggle('cards')">
        <div class="bi bi-cards_deckup"></div>
        <h1>Cartas</h1>
    </div>
    <div class="btn but {{isselected('packs')}}" (click)="toggle('packs')">
        <i class="bi bi-pack_deckup" style="background-color: #fff;"></i>
        <h1>Packs</h1>
    </div>
</div>
<div class="shopmenu" id="sh2">
    
    <div class="btn but {{isselected('offers')}}" (click)="toggle('offers')">
        <i class="bi bi-tags-fill"></i>
        <h1>Ofertas</h1>
    </div>
    <div class="btn but {{isselected('gems')}}" (click)="toggle('gems')">
        <i class="bi bi-gem"></i>
        <h1>Gemas</h1>
    </div>
</div>
<div id="cardcont" class="cont btn" *ngIf="selecteed == 'cards'">
    <div *ngFor="let card of cards" class="card_deckup {{card.rarezaDTO.nombre}} {{user.currency>=card.precio ? 'but' : 'naff_card'}}" (click)="user.currency>=card.precio ? buy(card) : ''">
        <img src="{{resURL}}/Resources/img/cards/{{card.imagen}}" alt="{{card.imagen}}">
        <div class="precio str btn {{user.currency>=card.precio ? 'aff' : 'naff'}}">
            <img src="{{resURL}}/Resources/img/misc/gema.png" alt="gema">
            <p>{{card.precio}}</p>
        </div>
    </div>
</div>
<div id="packcont" class="cont btn" *ngIf="selecteed == 'packs'">
    <div *ngFor="let pack of packs" class="pack {{user.currency>=pack.precio ? 'but' : 'naff_pack'}}" (click)="user.currency>=pack.precio ? buy_pack(pack) : ''">
        <img src="{{resURL}}/Resources/img/packs/{{pack.imagen}}" alt="{{pack.nombre}}">
        <h4 class="str" style="text-align: center;">{{pack.nombre}}</h4>
        <div class="precio str btn {{user.currency>=pack.precio ? 'aff' : 'naff'}}">
            <img src="{{resURL}}/Resources/img/misc/gema.png" alt="gema">
            <p>{{pack.precio}}</p>
        </div>
    </div>
</div>
<div id="offercont" class="btn" *ngIf="selecteed == 'offers'">
    <h1 class="str" style="margin-top: 10dvw; margin-bottom: 10dvw; font-size: 250px;">WIP</h1>
</div>
<div id="gemcont" class="btn" *ngIf="selecteed == 'gems'">
    <div *ngFor="let gem of gems" class="gem_offer btn but aff">
        <img src="{{resURL}}/Resources/img/misc/{{gem.imagen}}" alt="{{gem.nombre}}">
        <h4 class="str" style="text-align: center;">{{gem.nombre}}</h4>
        <div class="precio str btn aff">
            <p>{{gem.precio}}€</p>
        </div>
    </div>
</div>