/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: def;
    src: url('https://deckup.tecnobyte.com:444/Resources/fonts/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: str;
    src: url('https://deckup.tecnobyte.com:444/Resources/fonts/Ubuntu-Bold.ttf');
}

@font-face {
    font-family: tit;
    src: url('https://deckup.tecnobyte.com:444/Resources/fonts/Ubuntu-Regular.ttf');
}

.bi-pack_deckup {
    width: 75px;
    height: 75px;
    /* background-image: url('https://192.168.1.146:444/Resources/img/misc/pack.svg'); */
    mask-image: url('https://deckup.tecnobyte.com:444/Resources/img/misc/pack.svg');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    background-color: currentColor;
}

.bi-cards_deckup {
    width: 75px;
    height: 75px;
    mask-image: url('https://deckup.tecnobyte.com:444/Resources/img/misc/cards.svg');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    background-color: currentColor;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: url('http://localhost/Resources/img/misc/background.png');
    background-repeat: repeat;
    animation: bckganim 40s linear infinite;
}
@keyframes bckganim {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 1452px 0;
  }
}

.but {
    cursor: pointer;
    border-radius: 7px;
    transition: filter .5s;
    transition: scale .5s;

    &:hover:not(.selected) {
        scale: 1.05;
        filter: brightness(.8);
    }
}

.bg-p {
    background-color: #13253e;
    color: #fff;
}

.bg-w {
    background-color: #fff;
}

.bg-s {
    background-color: #5898d8;
    color: #fff;
}

.bg-t {
    background-color: #e5edf9;
    color: #13253e !important;
}

.bd-p {
    border: #13253e 2px solid;
    border-radius: 7px;
    padding: 15px;
}
.t-d{
    color: #13253e;
}

.fd {
    font-family: def;
}

.str {
    font-family: str;
}

.tit {
    font-family: tit;
}

.btn {
    border: #000 1px solid;
    box-shadow: inset 0px -6px 0px 0px rgba(0, 0, 0, 0.4), inset 0px 4px 0px 0px rgba(255, 255, 255, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 7px;
    padding: .5vw;
}

.skew {
    transform: skew(-7deg, 0deg);
}

.skew>* {
    transform: skew(7deg, 0deg);
}

/* From Uiverse.io by bociKond */
.loader {
    width: 44.8px;
    height: 44.8px;
    color: #fff;
    position: relative;
    background: radial-gradient(11.2px, currentColor 94%, #0000);
}

.loader:before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: radial-gradient(10.08px at bottom right, #0000 94%, currentColor) top left,
        radial-gradient(10.08px at bottom left, #0000 94%, currentColor) top right,
        radial-gradient(10.08px at top right, #0000 94%, currentColor) bottom left,
        radial-gradient(10.08px at top left, #0000 94%, currentColor) bottom right;
    background-size: 22.4px 22.4px;
    background-repeat: no-repeat;
    animation: loader 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}

@keyframes loader {
    33% {
        inset: -11.2px;
        transform: rotate(0deg);
    }

    66% {
        inset: -11.2px;
        transform: rotate(90deg);
    }

    100% {
        inset: 0;
        transform: rotate(90deg);
    }
}

.loadcont {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
    justify-content: center;
    background-color: #13253e90;
}

.loadcont>div {
    scale: 2;
}

.swal2-popup {
    font-family: str;
}

.swal-c1 {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    border: #13253e 5px solid;

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

img {
    pointer-events: none;
}

.swal-gm {
    color: #5b3b77 !important;
}

.swal-drk {
    color: #13253e;
}

.swal-btn {
    font-size: 20px;
    padding-left: 1vw;
    padding-right: 1vw;
}

.Comun {
    background: linear-gradient(to right,
            #41A7C3,
            #3065A2);
}

.Rara {
    background: linear-gradient(to right, #FF7F50, #FFA07A);
}

.Epica {
    background: rgb(163, 4, 250);
    background: linear-gradient(305deg, rgba(163, 4, 250, 1) 0%, rgba(207, 124, 252, 1) 100%);
}

.Legendaria {
    color: #000;
    background: linear-gradient(to right,
            #fddde6,
            #fceabb,
            #e0f7fa,
            #d1c4e9,
            #c8e6c9);
    background-size: 200% 100%;
    animation: bckgMovement 5s linear infinite;
}

.Comun_txt {
    background: linear-gradient(to right, #41A7C3, #3065A2);
    background-clip: text;
    -webkit-background-clip: text;
    /* Para compatibilidad con WebKit */
    color: transparent;
    /* Hace el texto transparente para que se vea el degradado */
}

.Rara_txt {
    background: linear-gradient(to right, #FF7F50, #FFA07A);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.Epica_txt {
    background: linear-gradient(305deg, rgba(163, 4, 250, 1) 0%, rgba(207, 124, 252, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.Legendaria_txt {
    background: linear-gradient(to right, #fddde6, #fceabb, #e0f7fa, #d1c4e9, #c8e6c9);
    background-size: 200% 100%;
    animation: bckgMovement 5s linear infinite;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.Mitica_txt {
    background: linear-gradient(to right, #FF4500, #DC143C, #FF6347, #DC143C, #FF4500);
    background-size: 300% 100%;
    animation: bckgMovement 10s linear infinite;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.idk_txt {
    background: linear-gradient(to bottom right, #333, #111, #444, #000, #222);
    background-size: 200% 200%;
    animation: grisNegroAnimado 15s ease infinite;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

@keyframes bckgMovement {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 200% 50%;
    }
}

.Mitica {
    background: linear-gradient(to right,
            #FF4500,
            #DC143C,
            #FF6347,
            #DC143C,
            #FF4500);
    background-size: 300% 100%;
    animation: bckgMovement 10s linear infinite;
}

.idk {
    background: linear-gradient(to bottom right,
            #333,
            #111,
            #444,
            #000,
            #222);
    background-size: 200% 200%;
    animation: grisNegroAnimado 15s ease infinite;
}

@keyframes grisNegroAnimado {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.exclusiva-glow {
    font-size: 3em;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 30px rgba(255, 0, 0, 0.9);
    animation: rainbow-neon-text 15s infinite linear;
}

@keyframes rainbow-neon-text {
    0% {
        color: red;
        /* Rojo */
        text-shadow: 0 0 30px rgba(255, 0, 0, 0.9);
    }

    16.66% {
        color: orange;
        /* Naranja */
        text-shadow: 0 0 30px rgba(255, 165, 0, 0.9);
    }

    33.33% {
        color: yellow;
        /* Amarillo */
        text-shadow: 0 0 30px rgba(255, 255, 0, 0.9);
    }

    50% {
        color: green;
        /* Verde */
        text-shadow: 0 0 30px rgba(0, 255, 0, 0.9);
    }

    66.66% {
        color: blue;
        /* Azul */
        text-shadow: 0 0 30px rgba(0, 0, 255, 0.9);
    }

    83.33% {
        color: indigo;
        /* Ãndigo */
        text-shadow: 0 0 30px rgba(75, 0, 130, 0.9);
    }

    100% {
        color: violet;
        /* Violeta */
        text-shadow: 0 0 30px rgba(238, 130, 238, 0.9);
    }
}

.card_deckup>.imgcont>img {
    width: 100%;
    height: 100%;
    scale: 2;
    object-position: 0px 30px;
    object-fit: cover;
    object-fit: cover;
}

#card_open_shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(19, 37, 62, .4);
    z-index: 20;
}

.pack_open {
    z-index: 25;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;

    &>img {
        margin: 0;
        width: 300px;
        height: 450px;
        background-color: #e5edf9;
        pointer-events: none;
        animation: pulse 1s linear infinite;
    }
}

.card_open {
    z-index: 25;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100dvw;
    height: 100dvh;
    cursor: pointer;
    justify-content: center;
    align-items: center;

    &>div {

        filter: drop-shadow(-15px 15px 45px #000);
        border-radius: 7px;
        width: 300px;
        height: 450px;
        background-color: #e5edf9;
        -webkit-animation: flip-2-ver-left-1 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
        animation: flip-2-ver-left-1 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
        animation-delay: .5s;
        overflow: hidden;

        &>div:not(.card_back) {
            border-radius: 7px;
            background-color: #000;
            top: 0;
            left: 0;
            width: 300px;
            height: 450px;
            position: absolute;
            pointer-events: none;
            z-index: 26;
            animation: zindextrade .7s linear forwards;
            animation-delay: .5s;
            overflow: hidden;
            opacity: 0;

            &>img {
                border-radius: 7px;
                width: 100%;
                height: 100%;
            }

        }

        &>.card_back {
            overflow: hidden;
            border-radius: 7px;
            position: absolute;
            top: 0;
            left: 0;
            width: 300px;
            height: 450px;
            background-color: #e5edf9;
            pointer-events: none;
            overflow: hidden;
            animation: zindextrade .7s reverse forwards;
            animation-delay: .5s;

            &>img {
                border-radius: 7px;
                width: 100%;
                height: 100%;
            }
        }
    }

}

@keyframes zindextrade {
    from {
        z-index: 26;
        opacity: 1;
    }

    to {
        z-index: 27;
        opacity: 1;
    }
}

@-webkit-keyframes flip-2-ver-left-1 {
    0% {
        -webkit-transform: translateX(-50%) rotateY(180deg);
        transform: translateX(-50%) rotateY(180deg);
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
    }

    100% {
        -webkit-transform: translateX(-100%) rotateY(0);
        transform: translateX(-100%) rotateY(0);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
}

@keyframes flip-2-ver-left-1 {
    0% {
        -webkit-transform: translateX(0) rotateY(0);
        transform: translateX(0) rotateY(0);
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
    }

    100% {
        -webkit-transform: translateX(-100%) rotateY(180deg);
        transform: translateX(-100%) rotateY(180deg);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }
}

@keyframes pack_open {
    0% {
        filter: brightness(1);
        scale: 1;
        transform: rotateZ(0deg);
    }

    75% {
        filter: brightness(1.2);
        scale: 1.07;
        transform: rotateZ(20deg);
    }

    100% {
        scale: 1.1;
        filter: brightness(2);
        transform: rotateZ(30deg);
    }
}

@keyframes pack_open_shadow {
    0% {
        filter: brightness(1);
    }

    75% {
        filter: brightness(2);
    }

    100% {
        filter: brightness(4);
    }
}

.onda {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    animation: expandir 1.5s ease-out infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
}

@keyframes expandir {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    100% {
        transform: scale(30);
        opacity: 0;
    }
}
.drkn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(.6);
    z-index: -1;
  }

.bg-r{
    background-color: #ff5757;
    color: #b10303;
}
.bg-g{
    background-color: #198754;
}