/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: def;
    src: url('http://localhost/Resources/fonts/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: str;
    src: url('http://localhost/Resources/fonts/Ubuntu-Bold.ttf');
}

@font-face {
    font-family: tit;
    src: url('http://localhost/Resources/fonts/Ubuntu-Regular.ttf');
}
 
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.but{
    cursor: pointer;
    border-radius: 7px;
    transition: filter .5s;
    transition: scale .5s;
    &:hover{
        scale: 1.05;
        filter: brightness(.8);
    }
}
.bg-p{
    background-color: #13253e;
    color: #fff;
}
.bg-s{
    background-color: #5898d8;
    color: #fff;
}
.bg-t{
    background-color: #e5edf9;
    color: #13253e;
}
.bd-p{
    border: #13253e 2px solid;
    border-radius: 7px;
    padding: 15px;
}
.fd{
    font-family: def;
}
.str{
    font-family: str;
}
.tit{
    font-family: tit;
}
.btn {
    transform: skew(-7deg, 0deg);
    border: #000 1px solid;
    box-shadow: inset 0px -6px 0px 0px rgba(0, 0, 0, 0.4), inset 0px 4px 0px 0px rgba(255, 255, 255, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 7px;
    padding: .5vw;
}

.btn>* {
    transform: skew(7deg, 0deg);
}
/* From Uiverse.io by bociKond */ 
.loader {
    width: 44.8px;
    height: 44.8px;
    color: #fff;
    position: relative;
    background: radial-gradient(11.2px,currentColor 94%,#0000);
  }
  
  .loader:before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: radial-gradient(10.08px at bottom right,#0000 94%,currentColor) top    left,
            radial-gradient(10.08px at bottom left ,#0000 94%,currentColor) top    right,
            radial-gradient(10.08px at top    right,#0000 94%,currentColor) bottom left,
            radial-gradient(10.08px at top    left ,#0000 94%,currentColor) bottom right;
    background-size: 22.4px 22.4px;
    background-repeat: no-repeat;
    animation: loader 1.5s infinite cubic-bezier(0.3,1,0,1);
  }
  
  @keyframes loader {
    33% {
      inset: -11.2px;
      transform: rotate(0deg);
    }
  
    66% {
      inset: -11.2px;
      transform: rotate(90deg);
    }
  
    100% {
      inset: 0;
      transform: rotate(90deg);
    }
  }
.loadcont{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
    justify-content: center;
    background-color: #13253e90;
}
.loadcont>div{
    scale: 2;
}
.swal2-popup {
    font-family: str;
  }